@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.header {
    top: 0px;
    left: 1px;
    align-items: center;
    height: 72px;
    background-color: #313131;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  ul{
    display: flex;
    list-style: none;
    gap: 20px;
  }
  .left{
    display: flex;
    align-items: baseline;
    gap:10px;
    justify-content: space-between;
  }
  .right{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
  }
  .Logo {
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .text {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
  }
  .navtext {
    color: #bbbbbb;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
  }
  .navbtn1{
        cursor: pointer;
        top: 32px;
        left: 1136px;
        width: 116px;
        height: 38px;
        padding: 0px 8px;
        border: 0;
        box-sizing: border-box;
        border-radius: 24px;
        background-color: black;
        color: #ffffff;
        font-size: 14px;
        line-height: 18px;
        outline: none;
  }
  .navbtn2 {
    cursor: pointer;
    top: 32px;
    left: 1268px;
    width: 108px;
    height: 38px;
    padding: 0px 8px;
    border: 0;
    box-sizing: border-box;
    border-radius: 24px;
    background-color: red;
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    outline: none;
  }
.home-main-img{
    width: 1312px;
    height: 290px;
    border-radius: 24px;
    margin-top: 1px;
    align-items: center;
}
.home-main-img-cover{
  width: 1312px;
  height: 290px;
  background:gray;  
  border-radius: 24px;
}
.homeMain{
  display: flex;
  justify-content: center;
}
.homeMaincontent p{
  font-size: 44px;
  font-weight: 600;
  color: white;
  z-index:2;
  position: absolute;
  left: 20%;
  top: 81px;
}
.homeMaincontent i{
  font-size: 14px;
  font-weight: 500;
  color: white;
  z-index:2;
  position: absolute;
  left: 42%;
  top: 143px;
  text-shadow:1.2px 1.2px #131212;
}
.major{
  position: relative;
}
.cardcont{
  position: relative;
  top:-40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 844px;
  height: 80px;
  background-color: #ffffff;
  border-radius: 100px;
  border: 1px solid #939393;
  box-sizing: border-box;
  display:flex;
  align-items:center;
  justify-content:space-around;
  gap:10px;
}
.prim {
  color: #030303;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}
.sec{
  color: #858585;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}
.border {
  width: 1px;
  height: 48px;
  background-color: #939393;
  border-radius: 2px;
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 66px;
  border: 0;
  box-sizing: border-box;
  border-radius: 24px;
  color: #ffffff;
  background-color: #ff110c;
  outline: none;
}

.icon {
  color: #ffffff;
  fill: #ffffff;
  width: 26px;
  height: 26px;
  font-size: 26px;
}


/* Available Rooms for Booking */

.para{
  margin-left: 105px;
  margin-right: 120px;
}
.available_rooms{
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
  background-color: white;
}
.meeting-room{
  position: relative;
}
.meeting-room-img{
  width: 325px;
  height: 400px;
  border-radius: 24px;
}
.mr-text{
  position: absolute;
  bottom: -2px;
  background-color: black;
  color: white;
  padding: 2.5px 11px;
  border-radius: 50px;
  margin: 18px 18px;
  font-size: medium;
}
.lecture-hall{
  position: relative;
}
.lecture-hall-img{
  width: 325px;
  height: 212px;
  border-radius: 24px;
  margin-bottom: 8px;
}
.lh-text{
  position: absolute;
  bottom: 5px;
  background-color: black;
  color: white;
  padding: 2.5px 11px;
  border-radius: 50px;
  margin: 18px 18px;
  font-size: medium;
}
.lab{
  position: relative;
}
.lab-img{
  width: 325px;
  height: 175px;
  border-radius: 24px;
}
.lab-text{
  position: absolute;
  bottom: 0;
  background-color: black;
  color: white;
  padding: 2.5px 11px;
  border-radius: 50px;
  margin: 18px 18px;
  font-size: medium;
}
.study-hall{
  position: relative;
}
.study-hall-img{
  width: 325px;
  height: 400px;
  border-radius: 24px;
}
.sh-text{
  position: absolute;
  bottom: 0;
  background-color: black;
  color: white;
  padding: 2.5px 11px;
  border-radius: 50px;
  margin: 18px 18px;
  font-size: medium;
}
.audi{
  position: relative;
}
.audi-img{
  width: 325px;
  height: 175px;
  border-radius: 24px;
  margin-bottom: 8px;
}
.audi-text{
  position: absolute;
  bottom: 8px;
  background-color: black;
  color: white;
  padding: 2.5px 11px;
  border-radius: 50px;
  margin: 18px 18px;
  font-size: medium;
}
.tut-room{
  position: relative;
}
.tut-room-img{
  width: 325px;
  height: 212px;
  border-radius: 24px;
}
.tut-text{
  position: absolute;
  bottom: -157px;
  background-color: black;
  color: white;
  padding: 2.5px 11px;
  border-radius: 50px;
  margin: 18px 18px;
  font-size: medium;
}
