* {
    margin: 0;
    padding: 0;
  }
  #navul {
    display: flex;
    list-style: none;
    gap: 10px;
  }
  .nav {
    padding-left: 10px;
    padding-right: 10px;
    background: #282828;
    height: 80px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbtn {
    cursor: pointer;
    top: 32px;
    left: 1268px;
    width: 108px;
    height: 40px;
    padding: 0px 8px;
    border: 0;
    box-sizing: border-box;
    border-radius: 24px;
    background-color: #ff110c;
    color: #ffffff;
    font-size: 14px;
    font-family: "Source Sans Pro";
    line-height: 18px;
    outline: none;
  }
  .InputContainer {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    padding-left: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
  }
  
  .input {
    width: 170px;
    height: 100%;
    border: none;
    outline: none;
    font-size: 0.9em;
    caret-color: rgb(255, 81, 0);
  }
  
  .labelforsearch {
    cursor: text;
    padding: 0px 12px;
  }
  
  .searchIcon {
    width: 13px;
  }
  
  .searchIcon path {
    fill: rgb(114, 114, 114);
  }
  
  /* alt button css */
  /* .button {
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background-color: #FF110C;
    border-radius: 30px;
    color: rgb(19, 19, 19);
    font-weight: 600;
    border: none;
    position: relative;
    cursor: pointer;
    transition-duration: .2s;
    box-shadow: white;
    padding-left: 8px;
    transition-duration: .5s;
  }
  
  .svgIcon {
    height: 25px;
    transition-duration: 1.5s;
  }
  
  .bell path {
    fill: rgb(19, 19, 19);
  }
  
  .button:hover {
    background-color: red;
    transition-duration: .5s;
  }
  
  .button:active {
    transform: scale(0.97);
    transition-duration: .2s;
  }
  
  .button:hover .svgIcon {
    transform: rotate(250deg);
    transition-duration: 1.5s;
  }
  
   */
  
  /* requestlistings  */
  .reuestdiv {
    height: 500px;
    overflow-y: scroll;
  }
  
  .main {
    padding: 8px;
    border: 1px black solid;
    border-radius: 10px;
    margin: 4px;
  }
  h4 {
    font-size: 22px;
  }
  #nameDate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
  }
  .info {
    padding: 10px;
    color: gray;
    font-size: 12px;
  }
  
  /* approve reject buttons  */
  
  /* .ynbtn {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
  }
  
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%
    );
  }
  
  .front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 20px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  .ynbtn:hover {
    filter: brightness(110%);
  }
  
  .ynbtn:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  
  .ynbtn:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .ynbtn:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  
  .ynbtn:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .ynbtn:focus:not(:focus-visible) {
    outline: none;
  } */
  
  .ynbtn {
    cursor: pointer;
    top: 32px;
    left: 1268px;
    width: 98px;
    height: 30px;
    padding: 0px 8px;
    border: 0;
    box-sizing: border-box;
    border-radius: 24px;
    background-color: #ff110c;
    color: #ffffff;
    font-size: 14px;
    font-family: "Source Sans Pro";
    line-height: 18px;
    outline: none;
  }
  #YN {
    list-style: none;
    display: flex;
    gap: 12px;
    justify-content: flex-end;
  }
  