* {
    margin: 0;
    padding: 0;
  }
  #navul {
    display: flex;
    list-style: none;
    gap: 10px;
  }
  .nav {
    padding-left: 10px;
    padding-right: 10px;
    background: #282828;
    height: 80px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbtn {
    cursor: pointer;
    top: 32px;
    left: 1268px;
    width: 108px;
    height: 40px;
    padding: 0px 8px;
    border: 0;
    box-sizing: border-box;
    border-radius: 24px;
    background-color: #ff110c;
    color: #ffffff;
    font-size: 14px;
    font-family: "Source Sans Pro";
    line-height: 18px;
    outline: none;
  }
  .InputContainer {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    padding-left: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
  }
  
  .input {
    width: 170px;
    height: 100%;
    border: none;
    outline: none;
    font-size: 0.9em;
    caret-color: rgb(255, 81, 0);
  }
  
  .labelforsearch {
    cursor: text;
    padding: 0px 12px;
  }
  
  .searchIcon {
    width: 13px;
  }
  
  .searchIcon path {
    fill: rgb(114, 114, 114);
  }
  
   
  /* requestlistings  */
  .reuestdiv {
    height: 500px;
    overflow-y: scroll;
  }
  
  .main {
    padding: 8px;
    border: 1px black solid;
    border-radius: 10px;
    margin: 4px;
  }
  h4 {
    font-size: 22px;
  }
  #nameDate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
  }
  .info {
    padding: 10px;
    color: gray;
    font-size: 12px;
  }
  
  /* approve reject buttons  */
  
  
  .ynbtn {
    cursor: pointer;
    top: 32px;
    left: 1268px;
    width: 98px;
    height: 30px;
    padding: 0px 8px;
    border: 0;
    box-sizing: border-box;
    border-radius: 24px;
    background-color: #ff110c;
    color: #ffffff;
    font-size: 14px;
    font-family: "Source Sans Pro";
    line-height: 18px;
    outline: none;
  }
  #YN {
    list-style: none;
    display: flex;
    gap: 12px;
    justify-content: flex-end;
  }
  