/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: center;
    min-height: 100vh;
    background: #9B59B6;
}

.wrapper {
    width: 450px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    padding: 20px;
}

.wrapper header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .icons {
    display: flex;
    align-items: center;
}

header .icons span {
    height: 38px;
    width: 38px;
    margin: 0 5px; /* Adjust spacing */
    cursor: pointer;
    color: #fff;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
    background-color: #9B59B6; /* Arrow background color */
}

.icons span:hover {
    background: #8e44ad; /* Hover color */
}

.current-date {
    font-size: 1.45rem;
    font-weight: 500;
    color: #9B59B6; /* Text color */
}

.calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

.calendar .weeks li,
.calendar .days li {
    width: calc(100% / 7);
    padding: 15px 0; /* Adjust padding */
}

.calendar .weeks li {
    font-weight: bold;
    color: #9B59B6; /* Text color */
}

.calendar .days li {
    cursor: pointer;
    position: relative;
    color: #333;
}

.days li.inactive {
    color: #aaa;
}

.days li.active {
    color: #fff;
    background-color: #9B59B6; /* Active day background color */
    border-radius: 50%;
}

.days li:not(.active):hover {
    background-color: #f2f2f2; /* Hover background color */
}

/* Styles for styled-select dropdowns */
.wrapper header .user-input {
    display: flex;
    align-items: center;
}

.wrapper header .user-input select {
    margin-right: 10px;
    background-color: #f8f9fa;
    border: 2px solid #ced4da;
    color: #495057;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s;
}

.wrapper header .user-input select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.wrapper header .user-input button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.wrapper header .user-input button:hover {
    background-color: #0056b3;
}
