* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Montserrat', sans-serif; */
}

body {
  background-color: white;
}

h1 {
  margin-bottom: 8%;
  text-align: center;
  font-family: didot;
  color: red;
  letter-spacing: 0.05em;
  font-size: 35px;
}

p {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
}

p span {
  background:#fff;
  padding:0 10px;
}

input {
  margin-bottom: 3%;
}

input:last-of-type {
  margin-bottom: 0;
}

input, button {
  padding: 3%;
  width: 100%;
}

.Logo {
  /* width: 10px; */
  height: auto;
  align-items: center;
  /* border-style: outset; */
  box-shadow: 0 0 10px 0 rgb(178, 178, 178);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: -67px;
  width: 70%;
}

.login-container {
  display: flex;
  background-color: white;
  padding: 7%;
  /* horizontal align */
  width: 40vw;
  margin-left: 30vw;
  /* vertical align */
  height: 70vh;
  margin-top: 15vh;
}

#submit, #create-acct-btn {
  background-color: red;
  color: white;
  border: none;
  margin-top: 5%;
  border-radius: 50px;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

#sign-up {
  border: none;
  border-radius: 50px;
}

#create-acct {
  display: none;
}

#return-btn {
  background: none;
  color: rgb(79, 79, 79);
  text-decoration: underline;
  border: none;
  margin-top: 3%;
}